pyspark==3.5.7
psycopg2-binary==2.9.10
apache-airflow-providers-postgres==5.13.1
apache-airflow-providers-apache-spark==4.11.0
apache-airflow-providers-amazon==9.3.0
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.3
seaborn==0.13.2
scikit-learn==1.5.2